@import "tailwindcss";

/* Custom styles */
.sidebar {
    background-color: #C2B280; /* Sand background */
    color: #000; /* Black text color for visibility */
}

.sidebar .entry {
    padding: 10px;
    color: #000; /* Ensure text is black */
    transition: background-color 0.3s, color 0.3s;
}

.sidebar .entry:hover {
    background-color: #D2B48C; /* Lighter sand background on hover */
    color: #000; /* Black text color on hover */
}

/* Additional modern color scheme */
body {
    background-color: #f1efeb; /* Light sand background */
    color: #333; /* Dark text color */
}

header, footer {
    background-color: #C2B280; /* Sand background */
    color: #000; /* Black text color */
}

button {
    background-color: #C2B280; /* Sand background */
    color: #000; /* Black text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #ccc197; /* Lighter sand on hover */
    color: #fff; /* White text color on hover */
}

/* Style for the button to look like a list item */
.list-item-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #fff; /* White background */
    border: none;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for the button */
    border-radius: 0.42rem; /* Rounded corners */
}

.list-item-button:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
    color: #333; /* Dark text color on hover */
}

.back-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    margin-right: 10px;
    border-radius: 4px;
}

.back-button:hover {
    color: #000;
    background-color: #dad6d6;
}